* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
    color: rgb(5, 121, 179);
    background-color: white;
    box-shadow: 0px 1px 4px rgb(80, 78, 78);
}

body {
    background-color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
    padding: 0 2%;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    box-shadow: 0px 1px 4px rgb(80, 78, 78);
    background-color: white
}

.footer-post {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.model {
    display: none;
    visibility: hidden;
}

#userLogo {
    height: 7vh;
}

#Logo{
    height: 13vh;
}