*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-form{
    margin: 10%;
    padding: 5%;
    background-color: rgb(218, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
}

.Input-text{
    margin: 3% ;
}